<!DOCTYPE html>
<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CTF Dashboard</title>
    <link rel="stylesheet" href="static/style.css" type="text/css" media="screen">
      </head>

  <style>
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
  </style>
  <body>
    <div id="wrap">
      <div id="header">
        <img alt="It's a flag" src="static/flag.jpg" width="128" height="128">
        <p id="subtitle"><strong><span title="Now with 20% less SQL injection!">Capture the Flag Dashboard</span></strong></p>

        </div>

      <div id="information">
  <ul>
    <li>
      <div class="group row">
        <h2 id="install">CTF Scores</h2>
        <br>
          <table>
            <tr>
              <td><class="highlight"><pre><b>Team Name</b></code></pre></td>
              <td><class="highlight"><pre><b>Score</b></code></pre></td>
            </tr>
            {% for user in users %}
            <tr>
              <td><class="highlight"><pre>{{ user.name }}</code></pre></td>
              <td><class="highlight"><pre>{{ user.score }}</code></pre></td>
            </tr>
            {% endfor %}
          </table>
        <br>
    </li>

    <li>
      <div class="group row">
       <h2 id="question">Who are you?</h2>
       <br>
            {% if session['username'] %}
                <figure class="highlight"><pre>You are <code>{{ session['username'] }}</code></pre>
            {% else %}
                <figure class="highlight"><pre>Welcome! Please enter your username <a href="{{ url_for('register') }}">here.</a></pre>
            {% endif %}
      </div>
    </li>

    <li>
      <div class="group row">
        <h2>Submit a Flag</h2>
        <div class="button">
          <table>
            <tr>
              <td><class="highlight"><pre><b>Flag Name</b></code></pre></td>
              <td><class="highlight"><pre><b>Value</b></code></pre></td>
              <td><class="highlight"><pre><b>Points</b></code></pre></td>
              <td><class="highlight"><pre><b>Location</b></code></pre></td>
              <td><class="highlight"><pre><b>Machine</b></code></pre></td>
              <td><class="highlight"><pre><b>Hint</b></code></pre></td>
            </tr>
            {% for flag in flags %}
            <tr>
              <td><class="highlight"><pre>{{ flag.name }}</code></pre></td>
              <td><class="highlight">
                <form method="post" action="/submit">
                  <input type="text" id="{{ flag.name }}" name="{{ flag.name }}" required />
                  <button type="submit">Submit</button>
                </form>
              </code></td>
              <td><class="highlight"><pre>{{ flag.points }}</code></pre></td>
              <td><class="highlight"><pre>{{ flag.location }}</code></pre></td>
              <td><class="highlight"><pre>{{ flag.machine }}</code></pre></td>
              <td><class="highlight"><pre><span title="{{ flag.hint }}">Hint!</span></code></pre></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </li>

  </ul>
</div>

    </div>

    <a href="https://gitlab.com/KevinJClark/ctf-dash"><img id="forkme" src="static/forkme_right_gray_6d6d6d.svg" alt="Fork me on Gitlab"></a>

    <script src="static/anchor.min.js" integrity="sha256-m1eTvwEHwmsw4+XKF7BshClVJEPwTVycveNl0CS0Mkk=" crossorigin="anonymous" async=""></script>
    <script src="static/index.min.js" async=""></script>
  

</body></html>
